@import "./_media";

@include small-phone {
    #board {
        transform: scale(0.7);
        width: 300px;
        height: 470px;
    }

    .tile {
        padding-bottom: 90%;
        height: 2rem;
        width: 2rem;
    }
}

@include phone {
    #board {
        transform: scale(0.9);
        width: 300px;
        height: 470px;
    }

    .tile {
        padding-bottom: 90%;
        height: 2rem;
        width: 2rem;
    }
}

@include tablet {
    #board {
        width: 400px;
        height: 445px;
        gap: 0.313rem;
        padding: 10px;
    }

    .tile {
        height: 3rem;
        width: 2.9rem;
        padding-bottom: 25%;
    }
}


@include tablet-landscape {

    #board {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(7, 1fr);
        gap: 0.375rem;
        padding: 0.938rem;
    }

    .tile {
        height: 4rem;
        width: 3.5rem;
        padding-bottom: 35%;
        /* Maintain perfect square for larger screens */
    }

}

@include laptop {}