body {
    display: grid;
    place-items: center;
    background: rgb(45, 81, 119);
    text-align: center;
    margin: auto;




    h1 {
        text-align: center;
        margin: 20px 0 20px 0;
        color: #CFCA43;
        font-family: "Press Start 2P", system-ui;

    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #CFCA43;
        font-family: "Press Start 2P", system-ui;

    }

    #board {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(7, 1fr);
        padding: 1rem;
        background-color: #18293a;

        border-radius: 5%;
        margin: auto;




    }

    .tile {
        height: 3.5rem;
        width: 3.5rem;
        background-color: whitesmoke;
        border-radius: 50%;
        border: 1px solid gray;
        margin: 0.2rem;

    }

    .button {
        cursor: pointer;
        text-decoration: none !important;
        outline: none !important;
        font-family: "Press Start 2P", cursive;
        font-size: 20px;
        line-height: 1.5em;
        letter-spacing: 0.1em;
        text-shadow: 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px #004a87;
        border: none;
        margin: 25px 25px 35px;
        background: repeating-linear-gradient(45deg, #215389, #215389 5px, #093550 5px, #093550 10px);
        color: #fff !important;
        border-radius: 8px;
        padding: 8px 15px 10px;
        box-shadow: 0 6px 0 #266b91, 0 8px 1px 1px rgba(0, 0, 0, 0.3), 0 10px 0 5px #12517d, 0 12px 0 5px #1a6b9a, 0 15px 0 5px #0c405e, 0 15px 1px 6px rgba(0, 0, 0, 0.3);

        &:hover {


            top: 2px;
            box-shadow: 0 4px 0 #CFCA43, 0 6px 1px 1px rgba(0, 0, 0, 0.3), 0 8px 0 5px #CFCA43, 0 10px 0 5px #1a6b9a, 0 13px 0 5px #0c405e, 0 13px 1px 6px rgba(0, 0, 0, 0.3);

        }
    }


    /* ul {
        display: grid;
        place-items: center;

    }

    ul p {
        margin: 5px;
        width: 75px;
        height: 75px;
        border: 2px solid black;
        border-radius: 100px;
        background-color: white;
    }

    ul:hover {
        cursor: pointer;
        background-color: rgb(98, 136, 238);
    }*/
}